<template>
  <div>
    <slot>
      <v-btn class="primary" text @click="open = true">Buy</v-btn>
    </slot>
    <v-dialog
        v-model="open"
        max-width="500px"
    >
      <v-card>
        <v-container>
          <v-layout row>
            <v-flex xs12>
              <v-card-title>
                <h2 class="text--primary">Do you want to buy it?</h2>
              </v-card-title>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-card-text>
                <v-text-field
                    id="name"
                    label="Your name"
                    name="name"
                    type="text"
                    v-model="name"
                ></v-text-field>
                <v-text-field
                    id="phone"
                    label="Your phone"
                    name="phone"
                    type="text"
                    v-model="phone"
                ></v-text-field>
              </v-card-text>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout row>
            <v-flex xs12>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text @click="onCancel" :disabled="localLoading">Close</v-btn>
                <v-btn class="success" text @click="onSave" :disabled="localLoading" :loading="localLoading">But it!</v-btn>
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
	export default {
		props: ['ad'],
		data() {
			return {
				open: false,
				name: '',
        phone: '',
        localLoading: false
			}
		},
		methods: {
			onCancel() {
				this.name = ''
				this.phone = ''
				this.open = false
			},
			onSave() {
				if(this.editedTitle !== '' && this.editedDescription !== ''){
					this.localLoading = true
					this.$store.dispatch('createOrder', {
						name: this.name,
            phone: this.phone,
            adId: this.ad.id,
            ownerId: this.ad.ownerId
					})
						.finally(() => {
							this.name = ''
							this.phone = ''
              this.localLoading = false
							this.open = false
						})
				}
			}
		}
	}
</script>

<style scoped>

</style>