<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card class="elevation-8 mb-3" v-if="!loading">
          <v-img :src="ad.imageSrc" height="300px" contain></v-img>
          <v-card-text>
            <h2 class="text--primary">{{ad.title}}</h2>
            <p>{{ad.description}}</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <appEditAdModal class="pr-3" :ad="ad" v-if="isOwner"></appEditAdModal>
            <appBuyModal class="pr-3" :ad="ad"></appBuyModal>
          </v-card-actions>
        </v-card>
        <div v-else class="text-center">
          <v-progress-circular
            :size="100"
            :width="4"
            color="purple"
            indeterminate
          ></v-progress-circular>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
	/* eslint-disable no-mixed-spaces-and-tabs */

	import EditAdModal from './EditAdModal'
  import BuyModal from '../Shared/BuyModal'

	export default {
		data() {
			return {
				modal: false
      }
    },
    components: {
      appEditAdModal: EditAdModal,
      appBuyModal: BuyModal
    },
		props: ['id'],
		computed: {
			ad() {
				return this.$store.getters.adById(this.id)
			},
      loading() {
				return this.$store.getters.loading
      },
      isOwner() {
				return this.ad.ownerId === this.$store.getters.user.id
      }
		},
	}
</script>

<style scoped>

</style>