<template>
  <div>
    <slot>
      <v-btn class="warning" text @click="open = true">Edit</v-btn>
    </slot>
    <v-dialog
        v-model="open"
        max-width="500px"
    >
      <v-card>
        <v-container>
          <v-layout row>
            <v-flex xs12>
              <v-card-title>
                <h2 class="text--primary">Edit ad</h2>
              </v-card-title>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-card-text>
                <v-text-field
                    id="title"
                    label="Title"
                    name="title"
                    type="text"
                    v-model="editedTitle"
                ></v-text-field>
                <v-textarea
                    id="description"
                    label="Description"
                    name="description"
                    multi-line
                    v-model="editedDescription"
                ></v-textarea>
              </v-card-text>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout row>
            <v-flex xs12>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text @click="onCancel">Cancel</v-btn>
                <v-btn class="success" text @click="onSave">Save</v-btn>
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>
  </div>

</template>

<script>
	export default {
		props: ['ad'],
		data() {
			return {
				open: false,
        editedTitle: this.ad.title,
        editedDescription: this.ad.description,
      }
    },
    methods: {
			onCancel() {
				this.editedDescription = this.ad.description
				this.editedTitle = this.ad.title
        this.open = false
      },
      onSave() {
        if(this.editedTitle !== '' && this.editedDescription !== ''){
        	this.$store.dispatch('updateAd', {
        		title: this.editedTitle, description: this.editedDescription, id: this.ad.id})
            .then(() => this.open = false)
        }
      }
    }
	}
</script>

<style scoped>

</style>