<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="text--secondary mb-3">Create new ad</h1>
        <v-form ref="form" v-model="valid" validation class="mb-3">
          <v-text-field
              id="title"
              label="Ad title"
              name="title"
              type="text"
              v-model="title"
              required
              :rules="[v => !!v || 'Title is required']"
          ></v-text-field>

          <v-textarea
              id="description"
              label="Ad description"
              name="description"
              v-model="description"
              multi-line
              required
              :rules="[v => !!v || 'Description is required']"
          ></v-textarea>
        </v-form>
        <v-layout row class="mb-3">
          <v-flex xs12 sm6 md4>

            <v-btn
                class="warning ma-2 white--text" @click="triggerUpload"
            >
              Upload image
              <v-icon right dark>mdi-cloud-upload</v-icon>
              <input ref="fileInput" type="file" style="display: none;" accept="image/*" @change="onFileChange">
            </v-btn>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <img v-if="imageSrc" :src="imageSrc" alt="" height="100">
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <v-switch
                color="primary"
                v-model="promo"
                :label="`Add to promo?`"
            ></v-switch>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <v-spacer></v-spacer>
            <v-btn class="success" @click="createAd" :disabled="(!valid || !image) || loading" :loading="loading">Create ad</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
	export default {
		data() {
			return {
				title: '',
				description: '',
				valid: false,
				promo: false,
        image: null,
        imageSrc: ''
			}
		},
    computed: {
			loading() {
				return this.$store.getters.loading
      }
    },
		methods: {
			onFileChange(event) {
				const file = event.target.files[0]

        const reader = new FileReader()

        reader.onload = e => {
					this.imageSrc = reader.result
				}

        reader.readAsDataURL(file)
        this.image = file
      },
			triggerUpload() {
				this.$refs.fileInput.click()
      },
			createAd() {
				if (this.$refs.form.validate() && this.image) {
					const ad = {
						title: this.title,
						description: this.description,
						promo: this.promo,
						image: this.image
					}

					this.$store.dispatch('createAd', ad)
            .then(() => this.$router.push({name: 'list'}))
				}
			}
		}
	}
</script>

<style scoped>

</style>