<template>

  <div v-if="!loading">
    <v-container fluid>
      <v-layout row>
        <v-flex xs12>
          <v-carousel>
            <v-carousel-item v-for="ad in promoAds" :key="ad.id" :src="ad.imageSrc" contain>
              <div class="carousel-link">
                <v-btn class="error" :to="`/ad/${ad.id}`">{{ad.title}}</v-btn>
              </div>
            </v-carousel-item>
          </v-carousel>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex
            xs12
            sm6
            md4
            v-for="ad in ads"
            :key="ad.id"
        >
          <v-card max-width="344" class="mx-auto">
            <v-list-item>
              <v-list-item-avatar color="grey"></v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="headline">{{ad.title}}</v-list-item-title>
                <v-list-item-subtitle></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-img :src="ad.imageSrc" height="194"></v-img>

            <v-card-text>{{ad.description}}</v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text color="deep-purple accent-4" :to="`/ad/${ad.id}`">Open</v-btn>
              <appBuyModal class="pr-3" :ad="ad"></appBuyModal>
              <div class="flex-grow-1"></div>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
  <div v-else>
    <v-container>
      <v-layout row>
        <v-flex xs class="text-center pt-5">
          <v-progress-circular
              :size="100"
              :width="4"
              color="purple"
              indeterminate
          ></v-progress-circular>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import BuyModal from './Shared/BuyModal'

	export default {
		components: {
			appBuyModal: BuyModal
    },
		computed: {
			promoAds() {
				return this.$store.getters.promoAds
			},
			ads() {
				return this.$store.getters.ads
			},
      loading() {
				return this.$store.getters.loading
      }
		}
	}
</script>

<style scoped lang="stylus">
  .carousel-link
    position: absolute;
    bottom: 50px;
    left: 50%;
    background: rgba(0, 0, 0, .5);
    transform: translate(-50%, 0);
    padding: 5px 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
</style>