<template>
  <v-app>
    <v-navigation-drawer app temporary v-model="drawer">
      <v-list-item v-for="link in links" :key="link.title" :to="link.url">
        <v-list-item-icon>
          <v-icon left>{{link.icon}}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{link.title}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item @click="onLogout" v-if="isUserLoggedIn">
        <v-list-item-icon>
          <v-icon left>mdi-exit-to-app</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Logout</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-navigation-drawer>
    <v-card class="overflow-hidden">
      <v-app-bar
          app
          absolute
          dark
          scroll-target=""
          :color="color"
          :elevate-on-scroll="elevateOnScroll"
          :hide-on-scroll="hideOnScroll"
          :fade-on-scroll="fadeOnScroll"
          :fade-img-on-scroll="fadeImgOnScroll"
          :inverted-scroll="invertedScroll"
          :collapse="collapse"
          :collapse-on-scroll="collapseOnScroll"
          :shrink-on-scroll="shrinkOnScroll"
          :extended="extended"
      >
        <v-app-bar-nav-icon @click="drawer = !drawer" class="hidden-md-and-up">

        </v-app-bar-nav-icon>

        <v-toolbar-title>
          <router-link to="/" tag="span" class="pointer">Ad Application</router-link>
        </v-toolbar-title>

        <div class="flex-grow-1"></div>
        <div class="hidden-sm-and-down">
          <v-btn v-for="link in links" :key="link.title" :to="link.url" :color="color" class="mr-2">
            <v-icon left>{{link.icon}}</v-icon>
            {{link.title}}
          </v-btn>
        </div>
        <v-btn @click="onLogout" :color="color" v-if="isUserLoggedIn">
          <v-icon left>mdi-exit-to-app</v-icon>
          Logout
        </v-btn>
      </v-app-bar>
      <v-container style="min-height: 100vh">
        <v-content>
          <router-view></router-view>
        </v-content>
        <template v-if="error">
          <v-snackbar
              :multi-line="true"
              :timeout="5000"
              color="error"
              @input="closeError"
              :value="true"
          >
            {{error}}
            <v-btn
                dark
                text
                @click="closeError"
            >
              Close
            </v-btn>
          </v-snackbar>
        </template>
      </v-container>
    </v-card>
  </v-app>
</template>
<script>

	export default {
		data() {
			return {
				snackbar: false,
				drawer: false,
				items: [
					{title: 'Dashboard', icon: 'mdi-view-dashboard'},
					{title: 'Photos', icon: 'mdi-image'},
					{title: 'About', icon: 'mdi-help-box'},
				],
				elevateOnScroll: false,
				hideOnScroll: false,
				fadeOnScroll: false,
				fadeImgOnScroll: false,
				invertedScroll: false,
				collapse: false,
				collapseOnScroll: false,
				shrinkOnScroll: false,
				extended: true,
				color: 'primary',
				colors: ['primary', 'accent', 'warning lighten-2', 'teal', 'orange'],
			}
		},
		computed: {
			error() {
				return this.$store.getters.error
			},
			isUserLoggedIn() {
				return this.$store.getters.isUserLoggedIn
			},
			links() {
				if (this.isUserLoggedIn) {
					return [
						{title: 'Orders', icon: 'mdi-bookmark', url: `/orders`},
						{title: 'New ad', icon: 'mdi-plus-box-outline', url: `/new`},
						{title: 'My ads', icon: 'mdi-format-list-bulleted', url: `/list`},
					]
				}

				return [
					{title: 'Login', icon: 'mdi-lock', url: `/login`},
					{title: 'Registration', icon: 'mdi-face', url: `/registration`},
				]
			}
		},
		methods: {
			closeError() {
				this.$store.dispatch('clearError')
			},
			onLogout() {
				this.$store.dispatch('logoutUser')
					.then(() => this.$router.push({name: 'home'}))
			}
		}
	}
</script>
<style scoped>
  .pointer {
    cursor: pointer;
  }
</style>