<template>
  <v-container
      class="fill-height"
      fluid
  >
    <v-layout row>
      <v-flex xs12>
        <h1>Registration</h1>
        <v-row
            align="center"
            justify="center"
        >
          <v-col
              cols="12"
              sm="8"
              md="6"
          >
            <v-card class="elevation-12">
              <v-toolbar
                  color="primary"
                  dark
                  flat
              >
                <v-toolbar-title>Registration form</v-toolbar-title>
                <div class="flex-grow-1"></div>
                <v-tooltip bottom>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <v-form ref="form"
                        v-model="valid"
                        lazy-validation
                >
                  <v-text-field
                      id="email"
                      label="Email"
                      name="email"
                      prepend-icon="mdi-account"
                      type="text"
                      v-model="email"
                      :rules="emailRules"
                      autofocus
                  ></v-text-field>

                  <v-text-field
                      id="password"
                      label="Password"
                      name="password"
                      prepend-icon="mdi-lock"
                      type="password"
                      v-model="password"
                      :counter="6"
                      :rules="passwordRules"
                  ></v-text-field>
                  <v-text-field
                      id="confirm-password"
                      label="Confirm Password"
                      name="confirm-password"
                      prepend-icon="mdi-lock"
                      type="password"
                      v-model="confirmPassword"
                      :counter="6"
                      :rules="confirmPasswordRules"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="primary" @click="onSubmit" :disabled="!valid || loading" :loading="loading">Create
                  account
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
	const emailRegex = /.+@.+\..+/
	export default {
		data() {
			return {
				email: '',
				password: '',
				confirmPassword: '',
				valid: false,
				emailRules: [
					v => !!v || 'Email is required',
					v => emailRegex.test(v) || 'E-mail must be valid',
				],
				passwordRules: [
					v => !!v || 'Password is required',
					v => (v && v.length >= 6) || 'Password must be equal or more 6 characters',
				],
				confirmPasswordRules: [
					v => !!v || 'Confirm password',
					v => v === this.password || 'Passwords should match'
				],
			}
		},
		computed: {
			loading() {
				return this.$store.getters.loading
			}
		},
		methods: {
			onSubmit() {
				if (this.$refs.form.validate()) {
					const user = {
						email: this.email,
						password: this.password
					}

					this.$store.dispatch('registerUser', user)
						.then(() => this.$router.push({name: 'home'}))
				}
			},
		}
	}
</script>

<style scoped>

</style>